html {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

body {
  font-family: monospace;
}

main {
  width: 100%;
  height: 100%;
}

header {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

time {
  font-size: 16px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

p {
  font-size: 24px;
  color: gray;
}

.stats {
  display: flex;
  align-items: center;
  gap: 4px;
}
.stats .text {
  color: red;
  font-size: 16px;
}

.word {
  border-bottom: 1.5px solid transparent;
  padding: 0;
  margin: 0;
  transition: border-color 0.3s ease-in-out;
  &.active {
    color: white;
  }
  &.marked {
    border-color: red;
  }
}

input {
  /* opacity: 0; */
}
.letter {
  position: relative;

  &.active::before {
    content: "|";
    color: yellow;
    font-size: 24px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.last::before {
    content: "|";
    color: yellow;
    font-size: 24px;
    position: absolute;
    left: 65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: lime;
  }
  &.incorrect {
    color: red;
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
