html {
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
}

body {
  font-family: monospace;
}

main {
  width: 100%;
  height: 100vh;
}

header {
  font-size: 26px;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 700;
  color: white;
}

time {
  font-size: 16px;
}

.time {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #353cea;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gametext {
  font-size: 24px;
  color: gray;
  border-radius: 50px;
  max-width: 50%;
  display: flex;

  padding: 50px;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #404040;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 10px;
  background-color: #fca404;
  color: white;
  border-radius: 10px;
}

.buttons p {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.stats .text {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #353cea;
}

.word {
  border-bottom: 1.5px solid transparent;
  padding: 0;
  display: inline-block;
  margin: 0;
  transition: border-color 0.3s ease-in-out;
  &.active {
    color: white;
  }
  &.marked {
    border-color: red;
  }
}

input {
  opacity: 0;
}
.letter {
  position: relative;

  &.active::before {
    content: "|";
    color: yellow;
    font-size: 24px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.last::before {
    content: "|";
    color: yellow;
    font-size: 24px;
    position: absolute;
    left: 65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: lime;
  }
  &.incorrect {
    color: red;
  }
}

.endgame {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #404040;
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
}

.topstreak {
  color: #a085ec;
}

.finishtime {
  color: #a085ec;
}

.restart {
  padding: 5px;
  border-radius: 10px;
  align-self: center;
  background-color: orchid;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.endgame .text {
  color: #f55;
  max-width: 100%;
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
