html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: monospace;
}

main {
  width: 100%;
  height: 100vh;
}

header {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

time {
  font-size: 16px;
}

.time {
  font-size: 16px;
  color: #2e86ab;
  padding: 10px;
  border: 1px solid #2e86ab;
  border-radius: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

p {
  font-size: 24px;
  color: gray;
  border: 1px solid gray;
  border-radius: 50px;
  max-width: 50%;
  display: flex;
  padding: 50px;
  gap: 10px;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stats .text {
  color: #2e86ab;
  padding: 10px;
  border: 1px solid #2e86ab;
  border-radius: 10px;
  font-size: 16px;
}

.word {
  border-bottom: 1.5px solid transparent;
  padding: 0;
  display: inline-block;
  margin: 0;
  transition: border-color 0.3s ease-in-out;
  &.active {
    color: white;
  }
  &.marked {
    border-color: red;
  }
}

input {
  opacity: 0;
}
.letter {
  position: relative;

  &.active::before {
    content: "|";
    color: orchid;
    font-size: 24px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.last::before {
    content: "|";
    color: orchid;
    font-size: 24px;
    position: absolute;
    left: 65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: lime;
  }
  &.incorrect {
    color: red;
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}
